/* common styles */
html {
    font-size: 62.5%; /* zmiana domyslnej wielkosci czcionki 10px/16px * 100 = 62.5% */
    box-sizing: border-box; 
    /* border-box tells the browser to account for any border and padding in the values you specify for an element's width and height.
     If you set an element's width to 100 pixels, that 100 pixels will include any border or padding you added,
     and the content box will shrink to absorb that extra width.  */
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}
/* end of common styles */

/* navbar */
/* sidebar */
.sidebar {
    width: 8rem;
    height: 100%;
    background: #eee;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu-icon {
    /* width: 2rem;
    height: 2rem;
    background: #000; */
    margin-top: 3rem;
}
.line {
     height: .2rem;
     width: 2.5rem;
     background: #222;
     margin-bottom: .6rem;
}

.line-1, .line-3 {
    width: 1.8rem;
}
/* end sidebar  */
/* end navbar */





























